# ---------------------------
# OS files
# ---------------------------
[Tt]humbs.db
*.DS_Store
desktop.ini

# ---------------------------
# Back-up files 
# ---------------------------
~*.*
.~*.*

# ---------------------------
# Visual Studio
# ---------------------------
*.suo
*.user
.vs
.vscode
Debug
bin
obj

# ---------------------------
# 
# ---------------------------
__SORT__

# ---------------------------
# run count file
# ---------------------------
_runCount.txt
